* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;



  /* background-color: #eff0f0; */
  /* background-color: #151c4b; */
  /* background-color: #69bfef; */
  /* background-color: #5a7a9a; */
html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #f3f4f6;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVuSans.woff2") format("woff2"),
    url("/fonts/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "DejaVu Sans", sans-serif;
  /* font-optical-sizing: auto;
  line-height: auto; */
}

@media screen and (min-width: 1441px) {
  body {
    overflow: hidden;
    padding: 0 10%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c8de6ec1;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.about {
  background-image: linear-gradient(180deg, #5a7a9a, #fff);
}
